/* This outline property puts an outline on all divs */


/* this is the outline color and size div */
div {

outline: 1px solid #CCCCCC;

}



/* This is the outermost div in the content markup */

#main-content {

	width: 950px;

	height: 580px;

}



.button-holder {

	width: 170px;

	float: left;

}



.button {

	width: 55px;

	padding: 10px;

	margin: 6px;

	border-width: 1px;

	border-color: blue;

	border-style: solid;

	float: left;

	text-align: center;

	cursor: pointer;

}



.disabled {

	cursor: default;

	border-color: blue; 

	color: blue; 

}




.image-holder {

	width: 580px;

	height: 340px;

	float: left;

}