/* This outline property puts an outline on all divs */


/* this is the outline color and size div */
div {

outline: 1px solid #330066;

}



/* This is the outermost div in the content markup */

#main-content {

	width: 640px;

	height: 550px;

}

/* This is the button holder */

.button-holder {

	width: 170px;

	float: left;

}


/* Below are the buttons */
.button {

	width: 65px;

	padding: 2px;

	margin: 6px;

	border-width: 1px;

	border-color: red;

	border-style: solid;

	float: left;

	text-align: center;

	cursor: pointer;

}



.disabled {

	cursor: default;

	border-color: red; 

	color: blue; 

}


/* This div holds the images*/

.image-holder {

	width: 580px;

	height: 340px;

	float: left;

}